.title{
    text-align: center;

}
.recipes{
    text-align: center;
    display: block;
}
.recipe-title{
    display: inline-block;
    text-align: center;
}


.return-home{
    box-sizing: content-box;
    height: 200px;
    width: 300px;

}
.enjoy li{
    background-color: rgba(212, 29, 29, 0.795);
    color:black;
    font-weight: bolder;
    margin-bottom: 20px;
    width: max-content;

}
#sad{
    background-color: rgb(66, 193, 231);
}